<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jianzhi.jzcustomdebug">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/erroricon"
            android:label="Jz線上除錯"
            android:roundIcon="@mipmap/erroricon"
            android:supportsRtl="true"
            android:theme="@style/SwipTheme">
        <activity android:name=".MainActivity"
                  android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
                android:name=".MyFirebaseService"
                android:enabled="true"
                android:exported="true"
                android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>